.profile__edit-button {
    background-image: url(../../../images/edit.svg);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    background-color: #000000;
    align-self: flex-end;
    margin-bottom: 8px;
}