.popup__description-field {
    font-family: inherit;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 0 0 13px;
    margin: 0 0 48px;
}

.popup__description-field::placeholder {
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
    color: #000000;
}

@media screen and (max-width: 600px) {
    .popup__description-field {
        margin: 0 0 45px;
    }
}