.profile__name-box {
    display: flex;
    flex-direction: row;
    padding-bottom: 16px;  
}

@media screen and (max-width: 425px) {
    .profile__name-box {
        padding-bottom: 14px;
        justify-content: center;
    }
}