.profile__info {
    display: flex;
    flex-direction: column;
    max-width: 580px;
}

@media screen and (max-width:600px) {
    .profile__info {
        max-width: 282px;
        padding: 0;
        margin-bottom: 36px;
    }
}